<%- include('layout') %>

<h1><%= title %></h1>

<form method="POST">
    <label for="categoryname">Category Name:</label>
    <input type="text" id="categoryname" placeholder="Electronics, Automotive, etc" name="categoryname" required value="<%= (typeof category === 'undefined' ? '' : category.name) %>">
    <button type="submit">Add Category</button>
</form>

<% if (errors) { %>
    <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>
