<%- include('layout') %>

<h1><%= title %></h1>

<% if (all_categories.length) { %>
    <ul>
        <% all_categories.forEach(function(category) { %>
            <li><a href="<%= category.url %>"><%= category.name %></a></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>There are no categories</p>
<% } %>

<button><a href="/shop/categories/add">Add new Category</a></button>
