<%- include('layout') %>

<!-- Including the layout file -->

block content
  <!-- Beginning of the content block -->

  h1= title
  <!-- Displaying the title -->

  p Welcome to <%= title %>
  <!-- Displaying a welcome message using the title -->

  button 
    <!-- Button to navigate to products -->
    <a href="/shop/products">Products</a>
  
  button 
    <!-- Button to navigate to categories -->
    <a href="/shop/categories">Categories</a>
