<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="sidebar">
      <ul class="sidebar-nav">
        <li><a href="/shop">Home</a></li>
        <li><a href="/shop/products">All Products</a></li>
        <li><a href="/shop/categories">All Categories</a></li>
        <li class="hr"><hr></li>
        <li><a href="/shop/categories/add">Create new Category</a></li>
        <li><a href="/shop/products/add">Add new Product</a></li>
      </ul>
    </div>
    <div class="main-content">
      <!-- This is where the content block will go -->
      <%= content %>
    </div>
  </body>
</html>
